.about-section{
    height: 80vh;
    display: flex;
    
}
.about-section >img {
    height: 80vh;
    width: 40%;
    opacity: 1;
    
    /* z-index: -123; */
    /* position: absolute; */
    /* right: 5px; */
    object-fit: cover;
}

.description{
    display: grid;
    place-items: center;
    /* gap: 0vh; */
    height: 100%;
    width: 60%;
    padding: 20px;
    background-color: rgb(118, 136, 118);
}
.description >h1{
    font-size: 3.0rem;
    color: black;
    /* margin: 0px 50px; */
}
.description >h3{
    font-size: 1.8rem;
    /* margin-left: 50px; */
    letter-spacing: 2px;
    line-height: 35px;
   
}

@media(max-width:500px){

    .about-section{
        height: fit-content;
        /* padding: 10vh 5vw; */
        flex-direction: column;
    }
    .about-section >img {
        object-fit: cover;
       height: 60vh;
       width: 100%;
       opacity: 0.35;
    }

    .description{
        height:fit-content;
        width: 100%;
        padding:2vh 5vw;
        height: 70%;
        /* border: 1px solid red; */
       
    }

    .description >h1{
        font-size: 2.3rem;
        color: black;
        margin: 10px 0px;
    }

    .description >h3{
        width: 90vw;
        text-align: justify;
        /* font-weight: 550; */
        font-size: 1.25rem;
        /* margin-left: 10px; */
        letter-spacing: 2px;
        line-height: 32px;
       
    }
}