.about-section{
    height: 80vh;

}
.about-section >img {
    height: 100%;
    width: 40%;
    opacity: 1;
    z-index: -123;
    position: absolute;
    right: 5px;
}

.description{
    height: 100%;
    width: 50%;
    padding: 20px;
}
.description >h1{
    font-size: 3.0rem;
    color: black;
    margin: 20px 50px;
}
.description >h3{
    font-size: 1.8rem;
    margin-left: 50px;
    letter-spacing: 2px;
    line-height: 35px;
   
}

@media(max-width:500px){
    .about-section >img {
       
       width: 100%;
       opacity: 0.4;
    }

    .description{
        height: 100%;
        width: 100%;
        padding: 10px;
        /* border: 1px solid red; */
       
    }

    .description >h1{
        font-size: 2.4rem;
        color: black;
        margin: 10px 0px;
    }

    .description >h3{
        font-weight: 550;
        font-size: 1.5rem;
        margin-left: 10px;
        letter-spacing: 2px;
        line-height: 35px;
       
    }
}