.click_btn {

    height: 48px;
    width: 87%;
    margin: 25px 0px 0px 30px;

    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    background-color: #AF2D3E;
    color: white;
    cursor: pointer;


}