#Contact{
    height: 90vh;
    width: 100vw;
    background-color: rgb(26, 26, 38);
    color: white;
}
.columns{
    height: 80%;
    width: 100%;
    display: flex;
    
    padding: 20px ;
}

#col{
    width: 20%;
    height: 100%;
    margin: 60px auto;
    text-align: center;
}



#col > h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    margin: 40px 0px;

}
#col > h5{
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
     letter-spacing: 1px;
     line-height: 35px;

}


.col-4{
    
    margin: 60px auto;
    height: 80%;
   /* background-color: aquamarine; */
    text-align: center;
   align-items: center;
    
    
}

.col-4 input{
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(167, 164, 164);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px black;
}

.col-4 > h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    margin: 40px 0px 80px 0px;
    
}
.col-4 button{
    padding: 4px;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  


}

.copyright {
    text-align: center;
}
.copyright > h6{
    letter-spacing: 1px;
}

@media(max-width:500px){


    #Contact{
        height: 100%;
       
    }
    .columns{
       
        display: block;
        
        padding: 10px ;
    }
    
    #col{
        width: 80%;
        height: 100%;
        margin: 60px auto;
        text-align: center;
    }
    .col-4 {
        width: 80%; 
    }

    .col-4 > h2{
        
        font-size: 1.6rem;
        margin: 30px 0px 40px 0px;
        
    }
    .newsletter{
        display: flex;
       
        margin: 0px 0px;
       
    }
}