* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html{
    overflow-x: hidden;
}
.navbar {
   
    height: 90px;
    width: 100%;
    margin: 0px;
    /* border: 1px solid red; */
    display: flex;
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #156b9d 100%, #80f8ea 0%);
    /* position: fixed; */

}

.leftNav{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 5vw;

}

.logo {
    height: 50px;
    width: 55px;
    /* margin: 5px; */

}

.reviser{
    /* border: 1px solid red; */
    /* padding: auto; */
    font-size: 27px;
    display: grid;
    place-items: center;
    /* padding-block: 2px; */
    
}


.navbarList {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
   

}

.main_dropdown{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
}
.dropdown{
    position: relative;
}
.dropdown button{
    background-color: black;
    color: white;
}

.list_items{
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 110px;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);

}


.dropdown:hover .list_items{
    display: grid;
    place-items: center;
   
}
/* .list_items a{
    height: fit-content;
    border: 1px solid red;
    display: grid;
    justify-content: center;
    align-items: center;
} */
.list_items p{
    padding-block: 5px;
    margin-block: auto;
    /* border: 1px solid green; */
}

.dropdown_btn{
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 5px;
}





.leftNav a {
    text-decoration: none;
    color: black !important;
    
}
.main_dropdown a{
    text-decoration: none;
    color: white;
}
.nav_nav a{
    text-decoration: none;
    color: black !important;
}

.navbarList li {
    list-style: none;
    margin: 10px;
    /* font-size: 1.3rem; */

}

.navbarList li:hover{
    
    color: rgb(0, 0, 0) !important;
   
}

.nav_nav{
   padding-right: 5vw;
   display: flex;
   font-size: 1.25rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.auth_button{
    display: flex;
    height: fit-content;
    padding: 0;
    /* border: 1px solid black; */
}
.username_logout{
    display: flex;
    justify-content: flex-end;
    width: max-content;
    gap: 20px;
    margin-left: 4vw !important;
    
}
.username_logout p{
    /* border: 1px solid red; */
    color: black;
    margin: 0;
    display: grid;
    place-items: center;
}



.logoutButton{
    background-color: rgb(0, 0, 0);
    /* height: 35px; */
    border: none;
    color: rgb(255, 255, 255);
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
}

.dashboard{
    border-radius: 7px;
    padding: 5px 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.mobile_icon{
    height: 30px;
    width: 30px;
    margin: 5px;
}
.icons{
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
    background-color: transparent;
   

}



@media(max-width: 1055px){

    .navbarList li:hover{
       
        color: rgb(255, 255, 255) !important;
       
    }

  .icons{
    margin: 10px;
    display: block;
    border: none;
    
  }  

   .nav_nav{
    font-size: 35px;
    z-index: 999;
    height: 20vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 0px;
    top: 0px;
    align-items: center;
    /* font-size: 1.5rem; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all 0.1s linear;
   }


 nav .responsive_Nav{
    transform: none;
}



.navbarList{
    width: 50vw;
    margin: 0px;
    /* border: 1px solid red; */
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbarList li{
    font-size: 19px;
}

.auth_button a{
   font-size: 19px;
}
.navbarList a{
    
    margin: 0;
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
}
li{
    color: white !important;
}
.auth_button{
    width: 50vw;
    /* border: 1px solid green; */
    margin: 0px;
    /* margin-right: -19px; */
    display: flex;
    flex-direction: column;
}

.auth_button a{
    color: white !important;
}
.username_logout{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    
}
.cancel_icon{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}


}

@media(max-width:550px){

    .logo {
        height: 40px;
        width: 45px;
        margin: 4px;
    
    }

    .reviser{
        display: none;
        font-size: 0.8rem;
        margin: 8px;
    }
    .main_dropdown{
        /* border: 1px solid red; */
        display: flex;
        gap: 10px;
    }

    .dropdown_btn{
        padding-inline: 3px;
        height: 30px;
        width: 73px;
        border: none;
        border-radius: 5px;
        font-size: 11px;
    }

    .list_items{
        z-index: 200;
        display: none;
        position: absolute;
        top: 30px;
        font-size: 13px;
        left: 0px;
        width: 77px;
        border-radius: 5px;
        background-color: white;
    
    }

  

    .mobile_icon{
        height: 25px;
        width: 25px;
        margin: 5px;
    }
}
.username_logout{
    margin: 0px;
    /* width: 50vw; */
    /* border: 1px solid red; */
}
.navbarList li{
     font-size: 19px;
}

.auth_button a{
    font-size: 19px;
}

.dashboard{
   
    font-size: 17px;
    background-color: rgb(0, 0, 0);
    padding: 8px 10px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}
.logoutButton{
    display: grid;
    place-items: center;
    background-color: rgb(0, 0, 0);
    padding: 8px 10px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    /* margin-top: 10px; */
    /* height: 50px; */
    /* width: 120px; */
    font-size: 17px;
}

/* @media  (max-width:450px){

    .logo {
        height: 28px;
        width: 30px;
        margin: 3px;
    
    }

    .reviser{
        font-size: 1.30rem;
        margin: 0px 10px 0px 10px;
    }

    
    .mobile_icon{
        height: 24px;
        width: 23px;
        margin: 3px;
    }
} */